.bgimg {
  background-image: url("../../assets/images/audible_background.jpg");
  min-height: 570px;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcomeUserTxt
{
  color:white
}
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.userDropdown {
  position: relative;
  display: inline-block;
  float:right;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  /*min-width:160px;*/
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
}
.dropdowm-content-item
{
  display: block;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.userDropdown:hover .dropdown-content {display: block;}
/* this shouldn't overflow 
.nav {
  overflow: hidden;
} */
.nav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
.nav a:hover {
  text-decoration: underline;
}
.nav a:active {
  color: bisque;
}
.search {
  position: relative;
  text-align: right;
  margin-right: 40px;
  height: 30px;
}
.search-btn {
  background-image: url("../../assets/images/searchicon.png");
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  /* /left: 1200px; */
  right: 0;
  border: none;
  background-size: contain;
}
#s1 {
  height: 30px;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
}
/* #p1 img,
#p1 button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 1200px;
} */
#s3 h1,
#s3 h2 {
  padding: 0;
  margin: 0;
  font-weight: 800;
  font-display: none;
  margin-left: 150px;
}
h1 i {
  font-size: 5rem;
  padding-left: 80px;
}
h2 i {
  font-size: 3.6rem;
  padding-left: 50px;
}
#s4 h4 {
  color: grey;
  font-size: 2rem;
  margin-left: 110px;
  margin-top: 200px;
}
#s5 button {
  background-color: orange;
  color: white;
  margin-left: 200px;
  margin-top: 70px;
  width: 250px;
  height: 30px;
  border-radius: 20px 20px;
  border: 0;
}
#s6 h4 {
  color: grey;
  font-size: 1.3rem;
  margin-left: 150px;
  margin-top: 20px;
  padding-bottom: 20px;
}
