<div class="bgimg">
  <div class="nav">
    <div *ngIf="auth.loggedIn" class='userDropdown' ><!--If user is already logged in, display popup on hover-->
      <button class='btn btn-link dropbtn'>Hi {{auth.user.displayName}}</button>
      <div class="dropdown-content">
        <ul type='none'>
        <li><button class='btn btn-link dropdowm-content-item' routerLink='/userProfile'>User Profile</button></li>
        <li><button class='btn btn-link dropdowm-content-item'>My Library</button></li>
        <li><button class='btn btn-link dropdowm-content-item' (click)='signBtnOnClick()'>Sign Out</button></li>
      </ul>
      </div>
    </div>
    <a *ngIf="!auth.loggedIn" routerLink={{signRouterLink}} (click)='signBtnOnClick()'>{{signBtnTxt}}</a>
    <a>|</a>
    <a routerLink='/contactus'>Contact Us</a>
  </div> 
  <div class="search">
      <input type="text" placeholder="Search for a great book" id="s1"/>
      <button type="button" id="s2" class="search-btn">
        </button>
      <!-- <div id="p1">
        <button type="submit" id="s2">
        </button>
        <img src="../../assets/images/searchicon.png"/>
      </div> -->
  </div>
  <div style=color:white;font-weight:bolder id="s3">
    <h2><i> Books that </i></h2>
    <h1><i>Speak</i></h1>
    <h2><i>to you </i></h2>
  </div>
  <div id="s4">
    <h4>The easiest way to read, is to listen</h4>
  </div>
  <div id='s5'>
    <button type="button" routerLink='/createAccount'>Start your free trail now</button>
  </div>
  <div id="s6">
<h4>First audio book is free with monthly plan</h4>
  </div>
</div> 