<footer>
    <!-- <div class='policy-footer-divider'>
    </div>
    <div class='policy-footer-section'>
        <div class='policy-footer-links'>
            <a class='policy-link'>Conditions of Use</a>
            <span class='link-gap'></span>
            <a class='policy-link'>Privacy Notice</a>
            <span class='link-gap'></span>
            <a class='policy-link'>Help</a>
            <span class='link-gap'></span>
            <a class='policy-link'>Contact Us</a>
            <span class='link-gap'></span>
        </div>
        <div class='license-text'>
                © 1997-2019, Audible, Inc. or its affiliates
        </div>
    </div> -->

    <ul *ngIf="footerContent" class="f-list">
        <li *ngFor="let footerItem of footerContent">
            <a>{{footerItem.text}}</a>
        </li>
    </ul>
</footer>