<<<<<<< HEAD
footer {
    margin-top: 50px;
    background-color: whitesmoke;
<<<<<<< HEAD
    clear: both;
    }
    .row {
        margin-left:50px;
        margin-bottom: 20px;
=======
    width:100%;
    }
    .row {
        margin-left:50px;
        
>>>>>>> origin/feature1
    }
    .column {
        float: left;
        width:25%;
<<<<<<< HEAD
=======
        padding-left:50px;
>>>>>>> origin/feature1
        margin-top:20px;
    }
    a {
        color: black;
<<<<<<< HEAD
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    h6 {
        font-size: 16px;
        margin:0;
        font-weight: 400;
    }
    hr {
        height: 1px;
        border-top: 1px solid darkgray;
        /* margin-left:120px;
        margin-right: 120px;*/
        margin-top:20px;
        padding: 0; 
    }
     ul li{
        display: inline-block;
        margin-top:10px;
        margin-left: 30px;
        margin-bottom: 10px;
=======
    }
    h6 {
        font-size: 13px;
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin-left:120px;
        margin-right: 120px;
        padding: 0;
    }
    #s2 {
        margin-left:100px;
    }
    ​
     ul li{
        display: inline;
        margin:5px;
        float: left;
>>>>>>> origin/feature1
    }
=======

.policy-footer-divider
{
    height: 44px;
    margin-bottom: -18px;
    background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
    z-index: 0;
    zoom: 1;
}
.policy-footer-section
{

}
.policy-footer-links
{
    width:75%;
    margin:0px auto;
    text-align: center;
}
.link-gap
{
    display: inline-block;
    width: 20px;
}
.license-text
{
    text-align: center;
    margin:10px;
}
>>>>>>> 8556a980ee9e39538a3d806c99bdcfdeca7f8910
