<div class='outer-div'>
    <div class='sign-in-whole'>
        <img src='https://images-na.ssl-images-amazon.com/images/G/01/Audible/image/authPortal/audible_logo_uk._CB508070658_.svg'>
        <div class='sign-in-container'>
            <h3 class='subHeading'>Sign in with your Amazon account</h3>
            <div class=credentials>
                <form class='form' [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class='input-container'>
                        <label class='input-label'>Email or mobile phone number</label>
                        <input type='text' formControlName="email" class='input-box' required>
                        <p class="bg-danger input-invalid-msg" *ngIf="(loginForm.controls['email'].invalid)&&(loginForm.controls['email'].touched)">Email is not valid</p>
                    </div>
                    <div class='input-container'>
                        <div class='password-heading-row'>
                            <label class='input-label'>Password</label>
                            <a class='forgot-password'>Forgot Password</a>
                        </div>
                        <input type='password' formControlName="password" class='input-box' required>
                        <p class="bg-danger input-invalid-msg" *ngIf="(loginForm.controls['password'].invalid)&&(loginForm.controls['password'].touched)">Password should be minimum of 5 characters</p>
                    </div>
                    <button routerLink='' [disabled]="!loginForm.valid" class='sign-in-btn' (click)='login()'>Sign In</button>
                </form>
                <div class='divider'>
                    <span class='divider-text'>
                      New to Amazon? <!--Padding is optional-->
                    </span>
                  </div>
                <div class='createAccount'>
                    <button class='create-account-btn' routerLink='/createAccount'>Create your Amazon account</button>
                </div>
            </div>
        </div>
    </div>
</div>
