<!--<footer>
<div id="s2">
    <ul class='list-inline'>
        <li>© Copyright 1997 - 2019 Audible, Inc</li>
        <li>|</li>
        <li>Conditions of Use</li>
        <li>|</li>
        <li>Privacy Policy</li>
        <li>|</li>
        <li>Interest Based Ads</li>
        <li>|</li>
        <li>Recurring Payment Terms</li>
        <li>|</li>
        <li>India (English)</li>
    </ul>
</div>
</footer>
-->
<footer>
    <div class='policy-footer-divider'>
    </div>
    <div class='policy-footer-section'>
        <div class='policy-footer-links'>
            <a class='policy-link'>Conditions of Use</a>
            <span class='link-gap'></span>
            <a class='policy-link'>Privacy Notice</a>
            <span class='link-gap'></span>
            <a class='policy-link'>Help</a>
            <span class='link-gap'></span>
            <a class='policy-link'>Contact Us</a>
            <span class='link-gap'></span> 
        </div>
        <div class='license-text'>
                © 1997-2019, Audible, Inc. or its affiliates
        </div>
    </div>
</footer>