.sign-in-whole
{
    text-align: center;
    
}
.sign-in-container
{
    border-style:solid;
    border-width: 1px;
    width:600px;
    height:600px;
    margin:0 auto;
}
.input-label
{
    
}

.input-box
{
    display:block;
    text-align: center;
    margin:0 auto;
}