<footer id="s1">
    <div class="row">
        <div class="column">
        <a href="#contact" class="help-link">Contact Us</a>
        <a href="#help" class="help-link">Help</a>
        <a href="#howtolisten" class="help-link">How to Listen</a>
        <a href="#listeningapps" class="help-link">Listening Apps</a>
        <a href="#mobilesite" class="help-link">Mobile Site</a>
        </div>
        <div class="column">
            <a href="#facebook" class="help-link">Facebook</a>
            <a href="#twitter" class="help-link">Twitter</a>
            <a href="#instagram" class="help-link">Instagram</a>
            <a href="#" class="help-link">Learn more about Audible</a>
            <a href="#" class="help-link">Learn more about membership</a>
        </div>
        <div class="column">
            <a href="#" class="help-link" class="help-link">Best Sellers</a>
            <a href="#" class="help-link">New Releases</a>
            <a href="#" class="help-link">Indian Listens</a>
            <a href="#" class="help-link">Harry Potter</a>
            <a href="#" class="help-link">Audible Originals</a>
       </div>
       <div class="column">
            <a href="#" class="help-link">Mysteries & Thrillers</a>
            <a href="#" class="help-link">Romance</a>
            <a href="#" class="help-link">Fiction</a>
            <a href="#" class="help-link">Sci-Fi & Fantasy</a>
            <a href="#" class="help-link">Self Development</a>
       </div>
    </div>
</footer>
