<app-header></app-header>
<h2 class='heading'>Library</h2>
<div class='library' *ngIf="displayBooks">
    <ul class='list-inline'>
        <li>
            <a (click)='switchBooks("allBooks")'>All Books</a>
        </li>
        <li>
            <a (click)='switchBooks("userBooks")'>
                Your Books
            </a>
        </li>
    </ul>
    <div class='booksDisplay'>
        <app-book class='bookItem' *ngFor='let book of displayBooks' [book]='book'></app-book>
        <h3 *ngIf="displayBooks.length==0">Your Library Is Empty.</h3>
    </div>
</div>
<app-audio-player></app-audio-player>