<div class='outer-div'>
    <div class='sign-in-whole'>
        <img src='https://images-na.ssl-images-amazon.com/images/G/01/Audible/image/authPortal/audible_logo_uk._CB508070658_.svg'>
        <div class='sign-in-container'>
            <h3 class='subHeading'>Sign in with your Amazon account</h3>
            <div class=credentials>
                <!--<form class='form'>-->
                    <div class='input-container'>
                        <label class='input-label'>Name</label>
                        <input type='text' name='name' class='input-box' [(ngModel)]='name'>
                    </div>
                    <div class='input-container'>
                        <label class='input-label'>Email or mobile phone number</label>
                        <input type='text' name='userId'class='input-box' [(ngModel)]='email'>
                    </div>
                    <div class='input-container'>
                        <label class='input-label'>Password</label>
                        <input type='text' name='password' class='input-box' [(ngModel)]='password'>
                    </div>
                    <div class='input-container'>
                            <label class='input-label'>Confirm Password</label>
                            <input type='text' name='confirmPassword' class='input-box' [(ngModel)]='c_password'>
                    </div>
                    <button type='button' class='sign-in-btn' (click)='createAccount()'>Create Account</button>
                <!--</form>-->
                
            </div>
        </div>
    </div>
</div>
