<div class='outer-div'>
    <div class='sign-in-whole'>
        <img src='https://images-na.ssl-images-amazon.com/images/G/01/Audible/image/authPortal/audible_logo_uk._CB508070658_.svg'>
        <div class='sign-in-container'>
            <h3 class='subHeading'>Sign in with your Amazon account</h3>
            <div class=credentials>
                <form class='form' [formGroup]="createAccountForm">
                    <div class='input-container'>
                        <label class='input-label'>Name</label>
                        <input type='text' name='name' class='input-box' formControlName="name" required>
                        <p class="bg-danger input-invalid-msg" *ngIf="(createAccountForm.controls['name'].invalid)&&(createAccountForm.controls['name'].touched)">Name is not valid</p>
                    </div>
                    <div class='input-container'>
                        <label class='input-label'>Email or mobile phone number</label>
                        <input type='text' name='email'class='input-box' formControlName='email' required>
                        <p class="bg-danger input-invalid-msg" *ngIf="(createAccountForm.controls['email'].invalid)&&(createAccountForm.controls['email'].touched)">Email is not valid</p>
                    </div>
                    <div class='input-container'>
                        <label class='input-label'>Password</label>
                        <input type='password' name='password' class='input-box' formControlName='password' required>
                        <p class="bg-danger input-invalid-msg" *ngIf="(createAccountForm.controls['password'].invalid)&&(createAccountForm.controls['password'].touched)">Password should be minimum of 5</p>
                    </div>
                    <div class='input-container'>
                            <label class='input-label'>Confirm Password</label>
                            <input type='password' name='confirmPassword' class='input-box' formControlName='c_password' required>
                            <p class="bg-danger input-invalid-msg" *ngIf="createAccountForm.controls['password'].value!==createAccountForm.controls['c_password'].value&&createAccountForm.controls['password'].touched">Passwords doesn't match</p>
                    </div>
                    <button type='button' class='sign-in-btn' (click)='createAccount()' [disabled]="!createAccountForm.valid">Create Account</button>
                </form>
                
            </div>
        </div>
    </div>
</div>
